@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add this in your CSS file (e.g., src/index.css or src/App.css) */
.scrollbar-hidden {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
